#Flex-container{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dice{
    width: 150px;
    height: auto;
    display: inline-block;
}

button{
    margin: 20%;
    width: 30%;
    height: 20%;
    background-color: rgb(69, 162, 165);
}

input[type=checkbox] {
    scale: 170%;
}

.dicediv{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
